* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    /* border: 1px solid black; */
}

/* general */
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 16px 48px;
}

h1:hover,
.about-text:hover {
    color: #5A98D0;
}

.footer-title:hover,
.interested-text:hover {
    color: lightgray;
}

.section-name:hover,
.projects-description:hover,
.service-more-link:hover {
    color: #1F3F68;
}

.about-button:hover,
.contact-button:hover {
    -webkit-animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.service-card:hover,
.project-card:hover {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


/* header */
.top-panel {
    display: flex;
    justify-content: space-between;
}

/* main */
.about {
    display: flex;
    flex-grow: 1;
    margin-top: 32px;
    justify-content: space-between;
}

.about-paragraph {
    max-width: 504px;
}

h1 {
    /*т.к. h1 может быть только один раз, то можно обратиться на прямую?*/
    font-size: 64px;
    color: #1F3F68;
    font-weight: 300;
    max-width: 504px;
    margin-top: 24px;
}

.about-text {
    font-size: 16px;
    color: #1F3F68;
    margin-top: 24px;
}

.about-button {
    font-size: 16px;
    align-items: Center;
    color: #FFFFFF;
    background-color: #5A98D0;
    border-radius: 10px;
    border: none;
    margin-top: 48px;
    min-width: 220px;
    min-height: 56px;
}

.about-img {
    max-height: 481px;
    max-width: 553px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section-cards {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-name {
    margin-top: 32px;
    font-size: 36px;
    font-weight: 300;
    color: #000000;
    text-align: center;
}

.service-card-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 430px;
    margin-top: 32px;
    justify-content: center;
    align-items: center;
}

.service-card {
    max-width: 430px;
    display: block;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}


.service-avatar {
    align-self: center;
}

.service-title {
    margin-top: 16px;
    font-size: 20px;
    font-weight: 400;
    color: #1F3F68;
    max-width: 340px;
    text-align: center;
}

.service-paragraph {
    margin-top: 8px;
    margin-bottom: 48px;
    font-size: 16px;
    font-weight: 400;
    color: #1F3F68;
    max-width: 320px;
    text-align: center;
}

.service-more-link {
    color: #5A98D0;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    text-decoration: none;
}

.projects-container {
    align-content: center;
    margin-top: 32px;
}

.projects-description {
    margin-top: 16px;
    margin-bottom: 32px;
    min-width: 343px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #222222;
}

/* картинки с текстом */
.project-card {
    position: relative;
    padding: 8px;
}

.project-card img,
.project-cards-bottom img {
    max-width: 100%;
    height: auto;
}

.project-cards-bottom {
    display: flex;
    justify-content: space-between;
    max-width: 1365;
}

.project-text {
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
}

.bottom-text {
    left: 20px;
}

/* footer */
.basement {
    background-color: #316099;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    max-width: 100%;
}

.interested-footer {
    margin: 48px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.interested-paragraph {
    max-width: 495px;
}

.interested-text {
    margin-top: 16px;
}

.contact-button {
    background-color: #5A98D0;
    border: none;
    text-align: center;
    align-self: center;
    font-size: 26px;
    font-weight: 400;
    min-width: 237px;
    height: 56px;
    color: #FFFFFF;
}

.contact-container {
    margin: 48px;
}

.contact-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.rights {
    margin-top: 48px;
    margin-left: 48px;
    margin-right: 48px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    opacity: 40%;
}



@-webkit-keyframes scale-down-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes scale-down-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}



@media(max-width: 1200px) {
    .service-card-list {
        max-width: 340px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .section-cards {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .about-img {
        max-width: 336px;
        max-height: 292px;
    }
}

@media(max-width: 790px) {
    .container {
        padding: 16px;
    }

    h1 {
        font-size: 32px;
    }

    .section-name {
        font-size: 24px;
    }

    .project-text {
        font-size: 16px;
    }

    .about-img {
        visibility: hidden;
        width: 0px;
    }

    .about {
        justify-content: center;
        text-align: center;
    }

    .contact-container {
        display: flex;
        align-items: center;
    }

    .contact-list {
        display: block;
        justify-content: space-between;
    }

    .contact-list>li {
        margin-top: 20px;
    }

    .interested-footer {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
}

@media(max-width: 400px) {
    .project-cards-bottom {
        flex-wrap: wrap;
    }
}